@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700,800&display=swap');

* {
  font-family: 'Baloo 2';
}

button {
  font-family: 'Baloo 2';
  font-weight: 900;
}

.navbar * {
  font-weight: 900;
}

.home-page {
  animation-name: home-page-transitions;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-size: cover;
  background-position: center;
  text-shadow: 3px 3px black;
}

.home-page h1, .home-page h2 {
  border-radius: 10px;
  background-color: rgba(0, 0,0, 0.5);
}

@keyframes home-page-transitions {
  0%   {background-image: url('../assets/homePageBackground-1.jpg')}
  25%  {background-image: url('../assets/homePageBackground-2.jpg')}
  50%  {background-image: url('../assets/homePageBackground-3.jpg')}
  75%  {background-image: url('../assets/homePageBackground-4.jpg')}
  100% {background-image: url('../assets/homePageBackground-1.jpg')}
}